{% extends 'base.html.twig' %}
{% block title %}Card index{% endblock %}

{% block body %}
<style>
.card {
    width:300px;
    height:400px;
    background-color:rgb(100,100,100);
    border-radius:20px;
    border:1px solid black;
    box-shadow:0px 0px 10px #ccc;
    text-align:center;
    color:white;
}
.cardHeader {
    height:50px;
}
.cardHeader span {
    line-height:50px;
}
.cardImage {
    width:250px;
    height:250px;
    background-position:center center;
    background-size:cover;
    margin:20px auto;
}
.cardFooter {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.cardNumber {
    background-color:white;
    border-radius:50%;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    float:left;
}
</style>

<div class="card">
    <div class="cardHeader">
        <span> </span>
        <span>  </span>
    </div>
    <div class="cardImage"></div>
    <div class="cardFooter">
        <div class="cardNumber" style="color:blue; background-image:image; background-size:cover; background-repeat:no-repeat; background-position:center center;">  </div>
        <div class="cardNumber" style="color:red">  </div>
        <div class="cardNumber" style="color:green">  </div>
    </div>
</div>

    {# <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Attack</th>
            <th>Life</th>
            <th>category</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.name }}</td>
                <td>{{ card.attack }}</td>
                <td>{{ card.life }}</td>
                <td>{{ card.category.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
{% endblock %}
